
@{
    ViewBag.Title = "About";
}

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="" class="about">
        <div class="container">

            <div class="section-title">
                <h2>About</h2>
                <p>
                    “A versatile and professional software graduate with a commitment to an experience of developing and creative software solutions.
                    I have gained commercial experience with exposure to software development. Including carrying out straightforward design,
                    testing and solutions following existing methodology set by senior colleagues.
                    As a Software Engineer and IT Specialist, I am passionate about harnessing technology
                    to solve real-world problems. I have a strong background in application development,
                    system administration, and IT infrastructure. My approach is collaborative, working
                    closely with cross-functional teams to deliver high-quality solutions that meet
                    business needs. I am committed to continuous learning and staying current with
                    emerging technologies to provide innovative and effective solutions.
                    .“

                </p>
            </div>

            <div class="row">
                <div class="col-lg-4" data-aos="fade-right">                    
                    <img src="~/Images/Profile1.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                    <h3>Software Engineer.</h3>
                    <p class="fst-italic">
                        “With a background in IT support and software engineering, I specialize in creating robust
                        and innovative solutions that enhance operational efficiency. I have extensive experience in
                        software development, system administration, and cloud technologies. My goal is to bridge
                        the gap between technology and business, ensuring that IT solutions are aligned with organizational goals.
                        I am constantly seeking new challenges and opportunities to expand my skill set and contribute to successful projects..“.
                    </p>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>26 Nov 1986</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.paulaxcity.com</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+44 (0) 772 150 2616</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Nottingham, ENG</span></li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>38</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bachelor</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>paulaxcity@yahoo.com</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                            </ul>
                        </div>
                    </div>
                    <p>
                        “Dedicated and customer-focused Software Engineer and IT Specialist with over 10 years of experience 
                        providing technical assistance and support to end users in diverse environments. 
                        Proficient in diagnosing and resolving hardware, software, and network issues, 
                        ensuring the smooth operation of IT systems and infrastructure. Skilled in providing 
                        excellent customer service, with a patient and empathetic approach to troubleshooting user problems. 
                        Adept at communicating technical information clearly and effectively to users of varying technical backgrounds. 
                        Strong team player with the ability to collaborate effectively with colleagues and contribute to the success of 
                        IT projects and initiatives. Committed to continuous learning and staying up-to-date with emerging technologies 
                        to deliver innovative solutions and enhance IT service delivery..“.

</div>
            </div>

        </div>
    </section><!-- End About Section -->
</main>

