
@{
    ViewBag.Title = "Portfolio";
}

<main id="main">
    <!-- ======= Portfolio Section ======= -->
    <section id="" class="portfolio section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Portfolio</h2>
                <p>Here are some of my works both personal and enterprise designs.</p>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="" class="filter-active">All</li>
                        <li data-filter=".filter-app">App</li>
                        <li data-filter=".filter-card">Card</li>
                        <li data-filter=".filter-web">Web</li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="~/Images/BirthdayDiary.png" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="~/Images/BirthdayDiary.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Birthday Diary"><i class="bx bx-plus"></i></a>
                            <a href="portfoliodet" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="~/Images/ebill 2.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="~/Images/ebill 2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="EBILL Payment"><i class="bx bx-plus"></i></a>
                            <a href="portfoliodet" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="~/Images/PTBcs.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="~/Images/PTBcs.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Premium Trust Bank Workflow CSharp Version"><i class="bx bx-plus"></i></a>
                            <a href="portfoliodet" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="~/Images/PaulM.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="~/Images/PaulM.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="PSGMusic"><i class="bx bx-plus"></i></a>
                            <a href="portfoliodet" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="~/Images/PTBcs.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="~/Images/PTBcs.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Premium Trust Bank Workflow CSharp Version"><i class="bx bx-plus"></i></a>
                            <a href="portfoliodet" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="~/Images/PTBreact.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="~/Images/PTBreact.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Premium Trust Bank Workflow Reactjs Version"><i class="bx bx-plus"></i></a>
                            <a href="portfoliodet" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                            <a href="portfoliodet" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                            <a href="portfoliodet" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                            <a href="portfoliodet" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Section -->
</main>