
@{
    ViewBag.Title = "Resume";
}

<main id="main">
    <!-- ======= Resume Section ======= -->
    <section id="" class="resume">
        <div class="container">

            <div class="section-title">
                <h2>Resume</h2>
                <p>
                    “A versatile and professional software graduate with a commitment to an experience of developing and creative software solutions.
                    I have gained commercial experience with exposure to software development. Including carrying out straightforward design,
                    testing and solutions following existing methodology set by senior colleagues.
                    As a Software Engineer and IT Specialist, I am passionate about harnessing technology
                    to solve real-world problems. I have a strong background in application development, 
                    system administration, and IT infrastructure. My approach is collaborative, working 
                    closely with cross-functional teams to deliver high-quality solutions that meet 
                    business needs. I am committed to continuous learning and staying current with 
                    emerging technologies to provide innovative and effective solutions.
                    .“
                </p>
            </div>

            <div class="row">
                <div class="col-lg-6" data-aos="fade-up">
                    <h3 class="resume-title">Summary</h3>
                    <div class="resume-item pb-0">
                        <h4>Paul Abby</h4>
                        <p><em>Innovative and deadline-driven IT specialist with 10+ &amp; 3+ years of experience in IT consulting and developing user-centered digital.</em></p>
                        <ul>
                            <li>9 Curzon Street, Netherfield Nottingham, NG4 2NU</li>
                            <li>+44 (0) 772 150 2616</li>
                            <li>paulaxcity@yahoo.com</li>
                        </ul>
                    </div>

                    <h3 class="resume-title">Education</h3>
                    <div class="resume-item">
                        <h4>Bachelor of Science Degree in Computer Science</h4>
                        <h5>2017 - 2020</h5>
                        <p><em>
                                Ecole Superieure Panafricaine de Management Applique
                                (Espam Formation University), Benin Republic
                            </em></p>
                        <p></p>
                    </div>
                    <div class="resume-item">
                        <h4>National Diploma in Computer Engineering</h4>
                        <h5>2006 - 2008</h5>
                        <p><em>The Federal Polytechnic Ede Osun State Nigeria</em></p>
                        <p></p>
                    </div>
                </div>
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <h3 class="resume-title">Professional Experience</h3>
                    <div class="resume-item">
                        <h4>Software | Application Support Engineer</h4>
                        <h5>2019 - Present</h5>
                        <p><em>PSGR Tech &amp; InstiQ Professional Services, Nottingham UK &amp; Lagos NG </em></p>
                        <ul>
                            <li>Developed websites with front-end knowledge using HTML, CSS and JavaScript with frameworks like C#, ASP.Net (MVC) &amp; Reactjs</li>
                            <li>
                                Identify and resolve technical issues related to software applications. This involves investigating problems reported by users,
                                diagnosing root causes, and implementing effective solutions to minimize downtime.
                            </li>
                            <li>
                                Monitoring the performance and stability of applications to proactively identify
                                potential issues or bottlenecks by implementing monitoring tools, and analyzing system logs
                            </li>
                            <li>
                                Assist in the deployment of new applications or updates by configuring software settings,
                                performing testing, and ensuring compatibility with existing systems.
                            </li>
                            <li>Provide training sessions or workshops to end-users and internal staff to enhance their 
                                understanding of applications and improve their ability to troubleshoot common issues independently</li>
                            <li>Monitor application performance and health, identifying trends and proactively addressing 
                                potential issues to minimize downtime and maximize efficiency</li>
                            <li>Participating in code reviews to ensure code quality, adherence to coding standards, 
                                and identifying potential improvements or issues.</li>
                            <li>Testing application with the use of Apache Jmeter, BlazeMeter, LoadRunner, Oracle Load Test and Oracle release2 tool at Premium Trust Bank. </li>
                            <li>Maintained both corporate and client websites like, (UBA PPAI Application) using scripting languages and content management systems including WordPress, VScode, Wix and Bitvise.</li>
                            <li>Technical Support &amp; AppTester for UBA core banking application (TME, SRG &amp; ROA) accross africa also testing APIs/endpoints with the use of Postman Application.</li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <h4>IT Technician</h4>
                        <h5>2013 - 2020</h5>
                        <p><em>Polaris Bank Ltd, NG</em></p>
                        <ul>
                            <li>Optimized network performance by monitoring performance and troubleshooting network problems both LAN and WAN.</li>
                            <li>Provide first-line technical support to employees via phone, email, and in person.</li>
                            <li>Diagnose and resolve hardware, software, and network issues promptly and effectively</li>
                            <li>Install, configure, and maintain desktops, laptops, printers, and other IT equipment</li>
                            <li>Set up and troubleshoot software applications, including Microsoft Office Suite and proprietary software.</li>
                            <li>Monitor and maintain IT systems, including servers, network devices, and security appliances.</li>
                            <li>Create and maintain documentation for IT procedures, configurations, and troubleshooting guides.</li>
                            <li>Collaborate with other IT team members to implement new technologies and solutions.</li>
                            <li>Maintained IT facilities and responded to client complaints in a timely manner.</li>
                            <li>Provided remote support and resolve network issues also installed all kind of Application Software Installation and repair of computer systems. </li>
                            <li>Provide training and guidance to end users on IT-related topics &amp; best practices.</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Resume Section -->
    <!-- ======= Facts Section ======= -->
    <section id="" class="facts">
        <div class="container">

            <div class="section-title">
                <h2>Facts</h2>
                <p>Innovative and deadline-driven IT Specialist with 10+ &amp; 3+ years of experience in IT consulting and developing user-centered digital.</p>
            </div>

            <div class="row no-gutters">

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
                    <div class="count-box">
                        <i class="bi bi-emoji-smile"></i>
                        <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                        <p><strong>Happy Clients</strong> Excellent</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="count-box">
                        <i class="bi bi-journal-richtext"></i>
                        <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                        <p><strong>Projects</strong> Excellent</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="count-box">
                        <i class="bi bi-headset"></i>
                        <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
                        <p><strong>Hours Of Support</strong> Excellent</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="count-box">
                        <i class="bi bi-people"></i>
                        <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
                        <p><strong>Hard Workers</strong> Excellent</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <section id="" class="skills section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Skills</h2>
                <p>
                    “With a background in IT support and software engineering, I specialize in creating robust 
                    and innovative solutions that enhance operational efficiency. I have extensive experience in 
                    software development, system administration, and cloud technologies. My goal is to bridge 
                    the gap between technology and business, ensuring that IT solutions are aligned with organizational goals. 
                    I am constantly seeking new challenges and opportunities to expand my skill set and contribute to successful projects..“.
                </p>
            </div>

            <div class="row skills-content">

                <div class="col-lg-6" data-aos="fade-up">

                    <div class="progress">
                        <span class="skill">HTML <i class="val">95%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">CSS <i class="val">90%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">JavaScript <i class="val">55%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Customer Service <i class="val">99%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

                    <div class="progress">
                        <span class="skill">C# MVC (.Net &amp; .Net Core) <i class="val">80%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Reactjs <i class="val">85%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">WordPress<i class="val">60%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Technical Proficiency <i class="val">90%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </section><!-- End Skills Section -->

</main>

