
@{
    ViewBag.Title = "Resume";
}

<main id="main">
    <!-- ======= Resume Section ======= -->
    <section id="" class="resume">
        <div class="container">

            <div class="section-title">
                <h2>Resume</h2>
                <p>
                    “A versatile and professional software graduate with a commitment to and experience of developing and creative software solutions. Able to perform full software development life cycle activities.
                    I have gained commercial experience with exposure to software development. Including carrying out straightforward design, testing and solutions following existing methodology set by senior colleagues.
                    Actively looking for a software engineering position with a fast-paced and ambitious company that can offer development training, project based learning and a mentoring programme.
                    .“
                </p>
            </div>

            <div class="row">
                <div class="col-lg-6" data-aos="fade-up">
                    <h3 class="resume-title">Summary</h3>
                    <div class="resume-item pb-0">
                        <h4>Paul Abby</h4>
                        <p><em>Innovative and deadline-driven software engineer with 10+ &amp; 3+ years of experience in IT consulting and developing user-centered digital.</em></p>
                        <ul>
                            <li>NTU 50 Shakespeare Nottingham, ENG</li>
                            <li>(123) 456-7891</li>
                            <li>paulaxcity@yahoo.com</li>
                        </ul>
                    </div>

                    <h3 class="resume-title">Education</h3>
                    <div class="resume-item">
                        <h4>Bachelor of Science Degree in Computer Science</h4>
                        <h5>2017 - 2020</h5>
                        <p><em>
                                Ecole Superieure Panafricaine de Management Applique
                                (Espam Formation University), Benin Republic
                            </em></p>
                        <p></p>
                    </div>
                    <div class="resume-item">
                        <h4>National Diploma in Computer Engineering</h4>
                        <h5>2006 - 2008</h5>
                        <p><em>The Federal Polytechnic Ede Osun State Nigeria</em></p>
                        <p></p>
                    </div>
                </div>
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <h3 class="resume-title">Professional Experience</h3>
                    <div class="resume-item">
                        <h4>Software Engineer</h4>
                        <h5>2019 - Present</h5>
                        <p><em>PSGR Tech &amp; InstiQ Professional Services, Lagos NG </em></p>
                        <ul>
                            <li>Developed websites with front-end knowledge using HTML, CSS and JavaScript with frameworks like C#, ASP.Net (MVC) &amp; Reactjs</li>
                            <li>Testing application with the use of Apache Jmeter, BlazeMeter, LoadRunner, Oracle Load Test and Oracle release2 tool at Premium Trust Bank. </li>
                            <li>Maintained both corporate and client websites like, (UBA PPAI Application) using scripting languages and content management systems including WordPress, VScode, Wix and Bitvise.</li>
                            <li>Technical Support &amp; AppTester for UBA core banking application (TME, SRG &amp; ROA) accross africa also testing APIs/endpoints with the use of Postman Application.</li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <h4>Information Technology &amp; ATM Support</h4>
                        <h5>2013 - 2020</h5>
                        <p><em>Polaris Bank Ltd, NG</em></p>
                        <ul>
                            <li>Optimized network performance by monitoring performance and troubleshooting network problems both LAN and WAN.</li>
                            <li>Provided IT support for project managers and banking staff.</li>
                            <li>Maintained IT facilities and responded to client complaints in a timely manner.</li>
                            <li>Provided remote support and resolve network issues also installed all kind of Application Software Installation and repair of computer systems. </li>
                            <li>Deployment and installation of ATMs (WINCOR &amp; Hyosung) accross southwest region</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Resume Section -->
    <!-- ======= Facts Section ======= -->
    <section id="" class="facts">
        <div class="container">

            <div class="section-title">
                <h2>Facts</h2>
                <p>Innovative and deadline-driven software developer with 10+ &amp; 3+ years of experience in IT consulting and developing user-centered digital.</p>
            </div>

            <div class="row no-gutters">

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
                    <div class="count-box">
                        <i class="bi bi-emoji-smile"></i>
                        <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                        <p><strong>Happy Clients</strong> Excellent</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="count-box">
                        <i class="bi bi-journal-richtext"></i>
                        <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                        <p><strong>Projects</strong> Excellent</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="count-box">
                        <i class="bi bi-headset"></i>
                        <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
                        <p><strong>Hours Of Support</strong> Excellent</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="count-box">
                        <i class="bi bi-people"></i>
                        <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
                        <p><strong>Hard Workers</strong> Excellent</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <section id="" class="skills section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Skills</h2>
                <p>
                    “Junior Software Developer and Engineer with more than 3 years of work experience under
                    developing teams in different settings (including remote, onsite and international teams). I
                    enjoy coding, testing, and integration. Seeking a new challenges and opportunities
                    to leverage. I hold a Bsc in CS with recent study certifications.“.
                </p>
            </div>

            <div class="row skills-content">

                <div class="col-lg-6" data-aos="fade-up">

                    <div class="progress">
                        <span class="skill">HTML <i class="val">100%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">CSS <i class="val">90%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">JavaScript <i class="val">55%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

                    <div class="progress">
                        <span class="skill">C# MVC (.Net &amp; .Net Core) <i class="val">80%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Reactjs <i class="val">85%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">WordPress<i class="val">60%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </section><!-- End Skills Section -->

</main>

