<!DOCTYPE html>
<html>
<head>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Js/aos/aos.css" rel="stylesheet" />
    <link href="~/Js/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Js/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/Js/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="~/Js/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="~/Js/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="~/Style/style.css" rel="stylesheet" />

</head>
<body>
    <!-- ======= Mobile nav toggle button ======= -->
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

    <!-- ======= Header ======= -->
    <header id="header">
        <div class="d-flex flex-column">

            <div class="profile">
                <img src="~/Images/Profile1.jpg" alt="" class="img-fluid rounded-circle">
                <h1 class="text-light"><a href="index">Paul Abby</a></h1>
                <div class="social-links mt-3 text-center">
                    <a href="https://mobile.twitter.com/home" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="https://m.facebook.com/t.p.abby/about?lst=100000535652390%3A100000535652390%3A1669735207&eav=AfbBxj7Z2sU4pnQVVCplOgtZgbeIua--vSEpD8IeATPidmmn2GX4i6VYS4MvYSOcEfs&paipv=0" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                    <a href="https://www.linkedin.com/in/paul-abiodun-1530791a6" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>
            </div>

            <nav id="navbar" class="nav-menu navbar">
                <ul>
                    <li><a href="Index" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
                    <li><a href="About" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
                    <li><a href="Resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
                    <li><a href="Portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
                    <li><a href="Services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li>
                    <li><a href="Contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
                </ul>
            </nav><!-- .nav-menu -->
        </div>
    </header><!-- End Header -->

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <!----   <script src="~/Scripts/jquery-3.4.1.min.js"></script>---->
    <!-------<script src="~/Scripts/bootstrap.min.js"></script>------>
    <!-- Vendor JS Files -->
    <script src="~/Js/purecounter/purecounter_vanilla.js"></script>
    <script src="~/Js/aos/aos.js"></script>
    <script src="~/Js/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Js/glightbox/js/glightbox.min.js"></script>
    <script src="~/Js/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/Js/swiper/swiper-bundle.min.js"></script>
    <script src="~/Js/typed.js/typed.min.js"></script>
    <script src="~/Js/waypoints/noframework.waypoints.js"></script>
    <script src="~/Js/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Js/main.js"></script>
</body>
</html>